**
!requirements.txt
!requirements.lock
!hosting/
!hosting/__init__.py
!hosting/app.py
!hosting/auth.py
!hosting/database.py
!hosting/sample.py
!hosting/static/
!hosting/static/index.html
!hosting/Dockerfile
